body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(135deg, #2c3e50, #34495e, #5d6d7e);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-left .logo {
    height: 60px;
}

/* Conteneur centré pour le titre et la navigation */
.header-center {
    display: flex;
    flex-direction: column; /* Met en colonne */
    align-items: center; /* Centre le titre et le menu */
    text-align: center; /* Centre le texte */
}

.header-center h1 {
    margin: 0;
    font-size: 28px;
    color: #e4b321;
}

.header-center nav {
    margin-top: 70px;
}

.header-center nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #e4b321;
    font-weight: bold;
    transition: color 0.3s;
}

.header-center nav a:hover,
.header-center nav a.active {
    color: #fff;
    border-bottom: 2px solid #ffc107;
}

/* Container for aligning the login button and user icon */
.header-right {
    display: flex;
    align-items: center;
    border: 1px solid #fff; /* Bordure pour tout le conteneur */
    border-radius: 25px; /* Coins arrondis du conteneur */
    overflow: hidden; /* Cache les bords superflus */
}

/* Login button styling */
.login-button {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none; /* Retire les bordures */
}

/* User icon styling */
.user-icon {
    font-size: 24px;
    color: #ffc107;
    background-color: #343a40;
    padding: 10px;
    border: none; /* Retire les bordures */
}


/* Hover effect for login button */
.login-button:hover {
    background-color: #2d4373; /* Slightly darker color on hover */
}

/* Hover effect for user icon */
.user-icon:hover {
    color: #ffffff;
}
