<header class="header">
    <div class="header-left">
        <img src="./public/16359356220203_snapface.png.png" alt="Logo" class="logo">
    </div>
    <div class="header-center">
        <h1>Réservation de créneaux de vaccination</h1>
        <nav>
            <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
            <a routerLink="/centres" routerLinkActive="active">Réserver un créneau</a>
            <a routerLink="/mes-rendez-vous" routerLinkActive="active">Mes rendez-vous</a>
            <a routerLink="/contact" routerLinkActive="active">Contactez-nous</a>
        </nav>
    </div>
    <div class="header-right">
        <a routerLink="/login" class="login-button">Espace client</a>
        <i class="far fa-user-circle user-icon"></i>
    </div>   
</header>