<div class="container mt-4">
  <h1 class="mb-4 text-center">Médecins du centre sélectionné</h1>

  <div *ngIf="errorMessage" class="alert alert-danger">
    <p>{{ errorMessage }}</p>
  </div>

  <ul *ngIf="medecins.length > 0" class="list-group">
    <li *ngFor="let medecin of medecins" class="list-group-item d-flex justify-content-between align-items-center">
      <span><strong>{{ medecin.name }} {{ medecin.surname }}</strong> - Téléphone : {{ medecin.phoneNumber }}</span>
      <button (click)="chooseMedecin(medecin.id)" class="btn btn-success">Choisir</button>
    </li>
  </ul>

  <div *ngIf="medecins.length === 0 && !errorMessage" class="alert alert-info">
    <p>Aucun médecin disponible pour ce centre.</p>
  </div>
</div>