<div class="signup-card">
  <h2>Register</h2>
  <form (ngSubmit)="signup()">
    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="name" name="name" required>
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" required>
    </mat-form-field>

    <mat-form-field class="custom-form-field" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>
    <div class="login-link">
      <span>Already registered? <button mat-button (click)="router.navigate(['/login'])">Se connecter</button></span>
    </div>
  </form>
</div>