<footer class="footer bg-gradient text-white text-center text-md-left">
    <div class="container p-4">
        <div class="row">
            <!-- Left section: Logo, search bar, and social media icons -->
            <div class="col-md-4 mb-4">
                <img src="path/to/logo.png" alt="Logo" class="footer-logo mb-3">
                <form class="form-inline mb-3">
                    <div class="input-group footer-search-group">
                        <input class="form-control footer-search" type="search" placeholder="Rechercher" aria-label="Search">
                        <button class="btn btn-outline-secondary search-btn" type="button">
                            <i class="fa fa-search" style="color: palevioletred;"></i>
                        </button>
                    </div>
                    
                </form>
                <p class="footer-slogan">"Votre santé, notre priorité"</p>
                <div class="social-icons">
                    <a href="#!" class="btn btn-outline-light btn-floating m-1 facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#!" class="btn btn-outline-light btn-floating m-1 twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#!" class="btn btn-outline-light btn-floating m-1 google"><i class="fab fa-google"></i></a>
                    <a href="#!" class="btn btn-outline-light btn-floating m-1 instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#!" class="btn btn-outline-light btn-floating m-1 linkedin"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#!" class="btn btn-outline-light btn-floating m-1 github"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <!-- Middle section: Important information columns -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <h5 class="footer-heading">À Propos</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!" class="footer-link">Notre Histoire</a></li>
                            <li><a href="#!" class="footer-link">Mission & Vision</a></li>
                            <li><a href="#!" class="footer-link">Équipe</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="footer-heading">Services</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!" class="footer-link">Créneaux de Vaccination</a></li>
                            <li><a href="#!" class="footer-link">Bilans de Santé</a></li>
                            <li><a href="#!" class="footer-link">Consultations</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="footer-heading">Contactez-nous</h5>
                        <ul class="list-unstyled">
                            <li><a href="#!" class="footer-link">Email</a></li>
                            <li><a href="#!" class="footer-link">Téléphone</a></li>
                            <li><a href="#!" class="footer-link">Localisation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center p-3">
        © 2024 Tous droits réservés :
        <a class="footer-bottom-link text-white" href="https://votresite.com">votresite.com</a>
    </div>
</footer>
